.card {
  background-color: white;
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.27);
  border-radius: 2px;
  margin: 16px auto;
  width: calc(100% - 32px);
  max-width: 480px;

  @media (min-width: 500px) {
    width: auto;
  }

  &--pullUp {
    position: relative;
    margin-top: -25px;
  }

  header img {
    width: 100%;
    border-radius: 2px 2px 0 0;
  }
  
  .pre_title {
    margin: 0;
  }
  
  .big_title {
    margin-bottom: 8px;
  }
  
  &__body {
    padding: 16px;
  }
}
