@import './colours.scss';

.expandableText {
  &__container {
    &--contracted {
      height: 100px;
      margin-bottom: 10px;
      overflow: hidden;
      position: relative;

      &:after {
        content: " ";
        background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        height: 60px;
        position: absolute;
        top: 40px;
        width: 100%;
      }
    }

    &__block--scripture {
      &:after {
        content: '…';
        color: $colour-simple-grey;
        display: inline-block;
        text-align: center;
        width: 100%;
      }

      &:last-child:after{
        display: none;
      }

      & .verse-num,
      & .chapter-num {
        font-size: 50%;
        font-weight: 400;
        line-height: 16px;
        position: relative;
        top: -5px;
      }
    }
  }

  &__button {
    align-items: center;
    background: none;
    border: 0;
    color: $colour-active;
    display: inline-flex;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;

    svg {
      height: 12px;
      margin-left: 5px;
      width: 8px;
    }
  }
}
