@import './colours.scss';

.studyHeader {
  align-items: center;
  background-color: rgba($colour-active, .8);
  color: white;
  display: flex;
  font-size: 12px;
  height: 40px;
  justify-content: space-between;
  left: 0;
  padding: 5px 16px;
  position: absolute;
  top: 58px;
  width: 100%;
  z-index: 1;

  &__title {
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media(min-width: 400px) {
      max-width: 75%;
    }
  }

  &__passage {
    background: no-repeat;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
