@import './colours.scss';

.study {
  margin: 56px auto 72px;
  max-width: 550px;
  background-color: white;

  @media (min-width: 550px) {
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .27);
    border-radius: 2px;
    margin: 84px auto;
  }

  &__question {
    padding: 16px;
    margin-bottom: 106px;
  }

  &__icon {
    color: $colour-simple-grey;
    position: absolute;
    left: 20px;
    width: 20px;
    height: 20px;
    top: 20px;
  }

  &__footer {
    background-color: $colour-active;
    bottom: 56px;
    display: flex;
    font-size: 10px;
    height: 50px;
    justify-content: space-between;
    left: 0;
    letter-spacing: 1px;
    padding: 16px;
    position: fixed;
    width: 100%;
    
    a {
      align-items: center;
      color: white;
      display: inline-flex;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1.5px;
      padding: 0 5px;

      &:last-child {
        float: right;
      }
    }

    &__icon {
      width: 12px;
      height: 16px;
      color: white;
  
      &--left {
        padding-right: 5px;
      }
  
      &--right {
        padding-left: 5px;
      }
    }
  }

  &__lead {
    
    &__image {
      position: relative;
      background-position: center center;
      background-size: cover;
      height: 190px;
      width: 100%;
      
      img {
        display: block;
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    &__icons {
      margin-top: -40px;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;

      &__icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 3px solid white;
        background-color: $colour-inactive;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          color: white;
          height: 35px;
          width: 40px;
        }

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}

.study__introduction {
  margin-bottom: 56px;

  &__section {
    border-bottom: 1px solid #e4e4e4;
    position: relative;
    padding: 16px;

    &:last-child {
      border: none;
    }

    &--iconed {
      padding-left: 70px;
    }
  }

  &__image {
    background-position: center center;
    background-size: cover;
    height: 190px;
    position: relative;
    width: 100%;

    img {
      display: block;
      height: 100%;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.question {
  background-color: white;
  margin-top: 136px;

  &__header {
    margin-bottom: 16px;

    h2 {
      color: $colour-black;
      font-size: 24px;
      font-weight: 400;
    }

    span {
      color: $colour-inactive;
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  &__subquestions {
    color: $colour-inactive;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    list-style-type: none;

    li {
      padding-top: 24px;
    }

    li:first-child {
      padding-top: 0;
    }
  }

  &--title-slide {
    margin-top: 0;
    padding: 32px 16px;
    text-align: center;
  }
}
